body{
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
}

*{
    box-sizing: content-box;
}

.container{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.container::before, .container::after{
    content: '';
    display: table;
    clear: both;
}

.nav {
    background: #000000;
    box-shadow: 5px 8px 20px #888888;
}

.nav img{
    width: 250px;
    padding: 20px;
}

@media (max-width: 740px) and (min-width: 980px){
    .container{
        width: 720px;
    }
    
    .conhecimentos img{
        width: 60px;
    }
}

@media (max-width: 739px){
    .container{
        width: 300px;
    }
    
    .img-container:{
        width: 100px;
    }
}

.img-container{
    display: inline-block;
    text-align: center;
    padding-bottom: 40px;
}

.img-container img{
    padding: 30px;
    width: 150px;
}

.conhecimentos{
    margin: 0 auto;

}

.container > h1{
    padding-top: 30px;
    font-size: 1.5em;
   //font-style: italic;
    color: #000000;
}

.certificados{
    background: #000000;
}

.certificados h1{
    color: white;
}

.projetos h1{
    color: #000000;
}

.projetos p{
    color: #000000;
    margin-top: 5px;
}

.projetos h2{
    padding-top: 10px;
    color: #525150;
    margin: 5px;
}

.contato input{
    width: 340px;
    padding: 10px;
    border: 2px solid #f7df00;
    background: none;
    font-family: sans-serif;
    color: #525150;
    font-size: 1.5em;
    
}
.contato button{
    background: none;
    border: 2px solid #000000;
    padding: 10px;
    color: #525150;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.contato button:hover{
    background: none;
    border: 2px solid #f7df00;
    padding: 10px;
    color: white;
    background: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}


@media (max-width: 739px){
    
    .contato input{
        width: 150px;
        margin-bottom: 5px;
    }
}

.footer {
    background: #000000;
    margin-top: 30px;
}

.footer p {
    color: white;
    font-weight: bold;
    padding: 20px;
}

.footer img {
    width: 40px;
    padding-bottom: 20px;
    
}

.projetos img{
    width: 300px;
    border: 3px solid black;
}


.projetos a{
    text-decoration: none;
}
